########
# besu #
########
- source:
    repository: hyperledger/besu
    ref: main
  build_script: ./besu/build.sh
  target:
    tag: main
    repository: ethpandaops/besu
##########
# erigon #
##########
- source:
    repository: ledgerwatch/erigon
    ref: devel
  target:
    tag: devel
    repository: ethpandaops/erigon
##############
# ethereumjs #
##############
- source:
    repository: ethereumjs/ethereumjs-monorepo
    ref: master
  target:
    tag: master
    repository: ethpandaops/ethereumjs
    dockerfile: ./ethereumjs/Dockerfile
- source:
    repository: ethereumjs/ethereumjs-monorepo
    ref: stable
  target:
    tag: stable
    repository: ethpandaops/ethereumjs
    dockerfile: ./ethereumjs/Dockerfile
########
# geth #
########
- source:
    repository: ethereum/go-ethereum
    ref: master
  target:
    tag: master
    repository: ethpandaops/geth
- source:
    repository: gballet/go-ethereum
    ref: kaustinen-with-shapella
  target:
    tag: gballet-kaustinen-with-shapella
    repository: ethpandaops/geth
- source:
    repository: gballet/go-ethereum
    ref: tpgram
  target:
    tag: gballet-tpgram
    repository: ethpandaops/geth
- source:
    repository: gballet/go-ethereum
    ref: eip-4762-rewrite
  target:
    tag: gballet-eip-4762-rewrite
    repository: ethpandaops/geth
- source:
    repository: lightclient/go-ethereum
    ref: prague-devnet-0
  target:
    tag: lightclient-prague-devnet-0
    repository: ethpandaops/geth
########
# reth #
########
- source:
    repository: paradigmxyz/reth
    ref: main
  target:
    tag: main
    repository: ethpandaops/reth
##############
# lighthouse #
##############
  # Stable branch
- source:
    repository: sigp/lighthouse
    ref: stable
  target:
    tag: stable
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
  # Unstable branch
- source:
    repository: sigp/lighthouse
    ref: unstable
  target:
    tag: unstable
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
  # Minimal builds
- source:
    repository: sigp/lighthouse
    ref: stable
  build_args: FEATURES=spec-minimal  
  target:
    tag: stable-minimal
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
- source:
    repository: sigp/lighthouse
    ref: unstable
  build_args: FEATURES=spec-minimal  
  target:
    tag: unstable-minimal
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
  # Xatu Sentry builds
- source:
    repository: sigp/lighthouse
    ref: stable
  build_script: ./lighthouse/xatu-sentry.sh
  target:
    tag: xatu-sentry
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
- source:
    repository: sigp/lighthouse
    ref: unstable
  build_script: ./lighthouse/xatu-sentry.sh
  target:
    tag: xatu-sentry-unstable
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
- source:
    repository: sigp/lighthouse
    ref: deneb-free-blobs
  target:
    tag: deneb-free-blobs
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
- source:
    repository: macladson/lighthouse
    ref: verkle-trees-capella
  target:
    tag: macladson-verkle-trees-capella
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
############
# lodestar #
############
- source:
    repository: chainsafe/lodestar
    ref: unstable
  build_script: ./lodestar/build.sh
  target:
    tag: unstable
    repository: ethpandaops/lodestar
- source:
    repository: chainsafe/lodestar
    ref: electra-fork
  build_script: ./lodestar/build.sh
  target:
    tag: electra-fork
    repository: ethpandaops/lodestar
- source:
    repository: chainsafe/lodestar
    ref: g11tech/verge
  build_script: ./lodestar/build.sh
  target:
    tag: g11tech-verge
    repository: ethpandaops/lodestar
##############
# nethermind #
##############
- source:
    repository: nethermindeth/nethermind
    ref: master
  target:
    tag: master
    repository: ethpandaops/nethermind
###############
# nimbus-eth2 #
###############
  # Unstable branch
- source:
    repository: status-im/nimbus-eth2
    ref: unstable
  target:
    tag: unstable
    repository: ethpandaops/nimbus-eth2
    dockerfile: ./nimbus-eth2/Dockerfile.beacon
- source:
    repository: status-im/nimbus-eth2
    ref: unstable
  target:
    tag: unstable
    repository: ethpandaops/nimbus-validator-client
    dockerfile: ./nimbus-eth2/Dockerfile.validator
  # Minimal builds
- source:
    repository: status-im/nimbus-eth2
    ref: unstable
  target:
    tag: unstable-minimal
    repository: ethpandaops/nimbus-eth2
    dockerfile: ./nimbus-eth2/Dockerfile.beacon-minimal
- source:
    repository: status-im/nimbus-eth2
    ref: unstable
  target:
    tag: unstable-minimal
    repository: ethpandaops/nimbus-validator-client
    dockerfile: ./nimbus-eth2/Dockerfile.validator-minimal
- source:
    repository: status-im/nimbus-eth2
    ref: stable
  target:
    tag: stable-minimal
    repository: ethpandaops/nimbus-eth2
    dockerfile: ./nimbus-eth2/Dockerfile.beacon-minimal
- source:
    repository: status-im/nimbus-eth2
    ref: stable
  target:
    tag: stable-minimal
    repository: ethpandaops/nimbus-validator-client
    dockerfile: ./nimbus-eth2/Dockerfile.validator-minimal
  # Stable branch
- source:
    repository: status-im/nimbus-eth2
    ref: stable
  target:
    tag: stable
    repository: ethpandaops/nimbus-eth2
    dockerfile: ./nimbus-eth2/Dockerfile.beacon
- source:
    repository: status-im/nimbus-eth2
    ref: stable
  target:
    tag: stable
    repository: ethpandaops/nimbus-validator-client
    dockerfile: ./nimbus-eth2/Dockerfile.validator
  # Xatu Sentry builds
- source:
    repository: status-im/nimbus-eth2
    ref: stable
  build_script: ./nimbus-eth2/xatu-sentry.sh
  target:
    tag: xatu-sentry
    repository: ethpandaops/nimbus-eth2
    dockerfile: ./nimbus-eth2/Dockerfile.beacon
- source:
    repository: status-im/nimbus-eth2
    ref: unstable
  build_script: ./nimbus-eth2/xatu-sentry.sh
  target:
    tag: xatu-sentry-unstable
    repository: ethpandaops/nimbus-eth2
    dockerfile: ./nimbus-eth2/Dockerfile.beacon
###############
# nimbus-eth1 #
###############
- source:
    repository: status-im/nimbus-eth1
    ref: master
  target:
    tag: master
    repository: ethpandaops/nimbus-eth1
    dockerfile: ./nimbus-eth1/Dockerfile
#########
# prysm #
#########
  # Develop branch
- source:
    repository: prysmaticlabs/prysm
    ref: develop
  build_script: ./prysm/build_beacon.sh
  target:
    tag: develop
    repository: ethpandaops/prysm-beacon-chain
    dockerfile: ./prysm/Dockerfile.beacon
- source:
    repository: prysmaticlabs/prysm
    ref: develop
  build_script: ./prysm/build_validator.sh
  target:
    tag: develop
    repository: ethpandaops/prysm-validator
    dockerfile: ./prysm/Dockerfile.validator
  # Minimal builds
- source:
    repository: prysmaticlabs/prysm
    ref: develop
  build_script: ./prysm/build_beacon_minimal.sh
  target:
    tag: develop-minimal
    repository: ethpandaops/prysm-beacon-chain
    dockerfile: ./prysm/Dockerfile.beacon
- source:
    repository: prysmaticlabs/prysm
    ref: develop
  build_script: ./prysm/build_validator_minimal.sh
  target:
    tag: develop-minimal
    repository: ethpandaops/prysm-validator
    dockerfile: ./prysm/Dockerfile.validator
  # Master branch
- source:
    repository: prysmaticlabs/prysm
    ref: master
  build_script: ./prysm/build_beacon.sh
  target:
    tag: master
    repository: ethpandaops/prysm-beacon-chain
    dockerfile: ./prysm/Dockerfile.beacon
- source:
    repository: prysmaticlabs/prysm
    ref: master
  build_script: ./prysm/build_validator.sh
  target:
    tag: master
    repository: ethpandaops/prysm-validator
    dockerfile: ./prysm/Dockerfile.validator
  # PeerDAS
- source:
    repository: prysmaticlabs/prysm
    ref: peerDAS
  build_script: ./prysm/build_beacon.sh
  target:
    tag: peerdas
    repository: ethpandaops/prysm-beacon-chain
    dockerfile: ./prysm/Dockerfile.beacon
########
# teku #
########
- source:
    repository: consensys/teku
    ref: master
  build_script: ./teku/build.sh
  target:
    tag: master
    repository: ethpandaops/teku
- source:
    repository: zilm13/teku
    ref: verkle-trees
  build_script: ./teku/build.sh
  target:
    tag: zilm13-verkle-trees
    repository: ethpandaops/teku
#########
# eleel #
#########
- source:
    repository: sigp/eleel
    ref: main
  target:
    tag: main
    repository: ethpandaops/eleel
    dockerfile: ./eleel/Dockerfile
#############
# flashbots #
#############
- source:
    repository: flashbots/builder
    ref: main
  target:
    tag: main
    repository: ethpandaops/flashbots-builder
#############
#  tx-fuzz  #
#############
- source:
    repository: MariusVanDerWijden/tx-fuzz
    ref: master
  target:
    tag: master
    repository: ethpandaops/tx-fuzz
##############
# goomy-blob #
##############
- source:
    repository: ethpandaops/goomy-blob
    ref: master
  target:
    tag: master
    repository: ethpandaops/goomy-blob
##############################
# ethereum-genesis-generator #
##############################
- source:
    repository: ethpandaops/ethereum-genesis-generator
    ref: master
  target:
    tag: master
    repository: ethpandaops/ethereum-genesis-generator
- source:
    repository: ethpandaops/ethereum-genesis-generator
    ref: verkle
  target:
    tag: verkle
    repository: ethpandaops/ethereum-genesis-generator
- source:
    repository: ethpandaops/ethereum-genesis-generator
    ref: verkle-gen
  target:
    tag: verkle-gen
    repository: ethpandaops/ethereum-genesis-generator
- source:
    repository: ethpandaops/ethereum-genesis-generator
    ref: bellatrix-genesis
  target:
    tag: bellatrix-genesis
    repository: ethpandaops/ethereum-genesis-generator
#############
# armiarma #
#############
- source:
    repository: migalabs/armiarma
    ref: master
  target:
    tag: master
    repository: ethpandaops/armiarma
#############
# goteth #
#############
- source:
    repository: migalabs/goteth
    ref: master
  target:
    tag: master
    repository: ethpandaops/goteth
#############
# grandine  #
#############
  # Develop branch
- source:
    repository: grandinetech/grandine
    ref: develop
  build_script: ./grandine/build.sh
  target:
    tag: develop
    repository: ethpandaops/grandine
    dockerfile: ./grandine/Dockerfile
- source:
    repository: grandinetech/grandine
    ref: master
  build_script: ./grandine/build.sh
  target:
    tag: master
    repository: ethpandaops/grandine
    dockerfile: ./grandine/Dockerfile
  # Minimal builds
- source:
    repository: grandinetech/grandine
    ref: develop
  build_script: ./grandine/build.sh
  target:
    tag: develop-minimal
    repository: ethpandaops/grandine
    dockerfile: ./grandine/Dockerfile.minimal
- source:
    repository: grandinetech/grandine
    ref: master
  build_script: ./grandine/build.sh
  target:
    tag: master-minimal
    repository: ethpandaops/grandine
    dockerfile: ./grandine/Dockerfile.minimal
#############
#   mev-rs  #
#############
- source:
    repository: ralexstokes/mev-rs
    ref: main
  target:
    tag: main
    repository: ethpandaops/mev-rs
- source:
    repository: ralexstokes/mev-rs
    ref: main
  build_args: FEATURES=minimal-preset
  target:
    tag: main-minimal
    repository: ethpandaops/mev-rs
  
