########
# besu #
########
- source:
    repository: hyperledger/besu
    ref: main
  build_script: ./besu/build.sh
  target:
    tag: main
    repository: ethpandaops/besu
##########
# erigon #
##########
- source:
    repository: ledgerwatch/erigon
    ref: devel
  target:
    tag: devel
    repository: ethpandaops/erigon
##############
# ethereumjs #
##############
- source:
    repository: ethereumjs/ethereumjs-monorepo
    ref: master
  target:
    tag: master
    repository: ethpandaops/ethereumjs
    dockerfile: ./ethereumjs/Dockerfile
- source:
     repository: ethereumjs/ethereumjs-monorepo
     ref: stable
   target:
     tag: stable
     repository: ethpandaops/ethereumjs
     dockerfile: ./ethereumjs/Dockerfile
########
# geth #
########
- source:
    repository: ethereum/go-ethereum
    ref: master
  target:
    tag: master
    repository: ethpandaops/geth
- source:
    repository: lightclient/go-ethereum
    ref: devnet-9
  target:
    tag: lightclient-devnet-9
    repository: ethpandaops/geth
- source:
    repository: gballet/go-ethereum
    ref: kaustinen-with-shapella
  target:
    tag: gballet-kaustinen-with-shapella
    repository: ethpandaops/geth
########
# reth #
########
- source:
    repository: paradigmxyz/reth
    ref: main
  target:
    tag: main
    repository: ethpandaops/reth
##############
# lighthouse #
##############
- source:
    repository: sigp/lighthouse
    ref: stable
  target:
    tag: stable
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
- source:
    repository: sigp/lighthouse
    ref: stable
  build_script: ./lighthouse/xatu-sentry.sh
  target:
    tag: xatu-sentry
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
- source:
    repository: sigp/lighthouse
    ref: deneb-free-blobs
  target:
    tag: deneb-free-blobs
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
- source:
    repository: macladson/lighthouse
    ref: verkle-trees-capella
  target:
    tag: macladson-verkle-trees-capella
    repository: ethpandaops/lighthouse
    dockerfile: ./lighthouse/Dockerfile
############
# lodestar #
############
- source:
    repository: chainsafe/lodestar
    ref: unstable
  target:
    tag: unstable
    repository: ethpandaops/lodestar
- source:
    repository: chainsafe/lodestar
    ref: g11tech/verge
  target:
    tag: g11tech-verge
    repository: ethpandaops/lodestar
##############
# nethermind #
##############
- source:
    repository: nethermindeth/nethermind
    ref: master
  target:
    tag: master
    repository: ethpandaops/nethermind
##########
# nimbus #
##########
- source:
    repository: status-im/nimbus-eth2
    ref: unstable
  target:
    tag: unstable
    repository: ethpandaops/nimbus
    dockerfile: ./nimbus/Dockerfile
- source:
    repository: status-im/nimbus-eth2
    ref: stable
  build_script: ./nimbus/xatu-sentry.sh
  target:
    tag: xatu-sentry
    repository: ethpandaops/nimbus
    dockerfile: ./nimbus/Dockerfile
#########
# prysm #
#########
- source:
    repository: prysmaticlabs/prysm
    ref: develop
  build_script: ./prysm/build.sh
  target:
    tag: develop
    repository: ethpandaops/prysm
    dockerfile: ./prysm/Dockerfile
- source:
    repository: prysmaticlabs/prysm
    ref: master
  build_script: ./prysm/build.sh
  target:
    tag: master
    repository: ethpandaops/prysm
    dockerfile: ./prysm/Dockerfile
########
# teku #
########
- source:
    repository: consensys/teku
    ref: master
  build_script: ./teku/build.sh
  target:
    tag: master
    repository: ethpandaops/teku
#########
# eleel #
#########
- source:
    repository: sigp/eleel
    ref: main
  target:
    tag: main
    repository: ethpandaops/eleel
    dockerfile: ./eleel/Dockerfile
#############
# flashbots #
#############
- source: 
    repository: flashbots/builder
    ref: main
  target:
    tag: main
    repository: ethpandaops/flashbots-builder
#############
#  tx-fuzz  #
#############
- source: 
    repository: MariusVanDerWijden/tx-fuzz
    ref: master
  target:
    tag: master
    repository: ethpandaops/tx-fuzz
##########
#  dora  #
##########
- source:
    repository: pk910/dora
    ref: master
  target:
    tag: master
    repository: ethpandaops/dora
