name: Build geth docker image

on:
  workflow_dispatch:
    inputs:
      repository: 
        description: The source geth repository to build from
        default: ethereum/go-ethereum
        type: string
        required: true
      ref:
        description: The branch, tag or SHA to checkout and build from
        default: master
        type: string
        required: true
      docker_tag:
        description: Override target docker tag (defaults to the above source ref if left blank)
        type: string
        required: false

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      platforms: ${{ steps.setup.outputs.platforms }}
      target_tag: ${{ steps.tag.outputs.docker_tag }}
    steps:
      - uses: actions/checkout@v4
      - name: Prepare Matrix
        id: setup
        uses: ./.github/actions/prepare
        with:
          client: 'geth'
      - name: Generate target tag
        id: tag
        uses: ./.github/actions/docker-tag
        with:
          input: ${{ inputs.docker_tag || inputs.ref }}
  deploy:
    needs:
      - prepare
    runs-on: ${{ matrix.runner }}
    continue-on-error: true
    strategy:
      matrix:
        include: ${{fromJson(needs.prepare.outputs.platforms)}}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-deps
        with:
          repository: ${{ inputs.repository }}
      - uses: ./.github/actions/deploy
        with:
          source_repository: ${{ inputs.repository }}
          source_ref: ${{ inputs.ref }}
          target_tag: ${{ needs.prepare.outputs.target_tag }}-${{ matrix.slug }}
          target_repository: ethpandaops/geth
          platform: ${{ matrix.platform }}

          DOCKER_USERNAME: "${{ vars.DOCKER_USERNAME }}"
          DOCKER_PASSWORD: "${{ secrets.DOCKER_PASSWORD }}"
          MACOS_PASSWORD: "${{ secrets.MACOS_PASSWORD }}"
          GOPROXY: "${{ vars.GOPROXY }}"
  manifest:
    needs:
      - prepare
      - deploy
    runs-on: ubuntu-latest
    outputs:
      docker_images: ${{ steps.manifest.outputs.docker_images }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/manifest
        id: manifest
        with:
          source_repository: ${{ inputs.repository }}
          source_ref: ${{ inputs.ref }}
          target_tag: ${{ needs.prepare.outputs.target_tag }}
          target_repository: ethpandaops/geth
          platforms: ${{ needs.prepare.outputs.platforms }}

          DOCKER_USERNAME: "${{ vars.DOCKER_USERNAME }}"
          DOCKER_PASSWORD: "${{ secrets.DOCKER_PASSWORD }}"
  push-registry:
    name: Push to private docker registry
    if: ${{ vars.HARBOR_REGISTRY != '' }}
    runs-on: ubuntu-latest
    needs:
      - prepare
      - deploy
      - manifest
    steps:
      - name: Push to Registry
        uses: ./.github/actions/push-registry
        with:
          target_registry: ${{ vars.HARBOR_REGISTRY }}
          source_images: ${{ needs.manifest.outputs.docker_images }}
          DOCKER_USERNAME: "${{ vars.HARBOR_USERNAME }}"
          DOCKER_PASSWORD: "${{ secrets.HARBOR_PASSWORD }}"
  notify:
    name: Discord Notification
    runs-on: ubuntu-latest
    needs:
      - prepare
      - deploy
      - manifest
    if: failure()
    steps:
      - name: Notify
        uses: nobrayner/discord-webhook@v1
        with:
          github-token: ${{ secrets.github_token }}
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
