on:
  workflow_call:
    inputs:
      source_repository:
        description: The source repository to build from
        type: string
        required: true
      source_ref:
        description: The branch, tag or SHA to checkout and build from
        type: string
        required: true
      build_script:
        description: The bash script path in this repository to run instead of the Docker build & push script. You must push the image yourself.
        type: string
        required: false
      build_args:
        description: Extra arguments to pass to the build script
        type: string
        required: false
      target_tag:
        description: Docker hub tag to push to
        type: string
        required: true
      target_repository:
        description: Docker hub repository to push to
        type: string
        required: true
      target_dockerfile:
        description: Dockerfile path in this repository to build from. Omit to use source repository Dockerfile
        type: string
        default: ./source/Dockerfile
        required: false
      platforms:
        # eg [{"platform":"linux/amd64", "runner": "ARM64", "slug": "something-arm64"},{"platform":"linux/arm64", "runner": "ubuntu-latest", "slug": "something-amd64"}]
        description: JSON list of platforms to build for
        type: string
        required: true
      harbor_registry:
        description: Harbor registry to push the images to
        type: string
        default: ''
        required: false
      HARBOR_USERNAME:
        description: Harbor username
        type: string
        required: false
      DOCKER_USERNAME:
        description: Docker Hub username
        type: string
        required: true
      GOPROXY:
        description: GOPROXY
        type: string
        required: false
    secrets:
      DOCKER_PASSWORD:
        required: true
      HARBOR_PASSWORD:
        required: false
      MACOS_PASSWORD:
        required: true

jobs:
  deploy:
    name: Deploy ${{ matrix.config.slug }} ${{ inputs.target_tag }}
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        config: ${{fromJson(inputs.platforms)}}
    runs-on: ${{ matrix.config.runner }}
    outputs:
      git_commit_hash: ${{ steps.set_output.outputs.git_commit_hash }}
      git_commit_hash_full: ${{ steps.set_output.outputs.git_commit_hash_full }}
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: ./.github/actions/install-deps
      with:
        repository: ${{ inputs.source_repository }}
    - uses: ./.github/actions/deploy
      id: deploy
      with:
        source_repository: ${{ inputs.source_repository }}
        source_ref: ${{ inputs.source_ref }}
        build_script: ${{ inputs.build_script }}
        build_args: ${{ inputs.build_args }}
        target_tag: ${{ inputs.target_tag }}-${{ matrix.config.slug }}
        target_repository: ${{ inputs.target_repository }}
        target_dockerfile: ${{ inputs.target_dockerfile }}
        platform: ${{ matrix.config.platform }}
        DOCKER_USERNAME: "${{ inputs.DOCKER_USERNAME }}"
        DOCKER_PASSWORD: "${{ secrets.DOCKER_PASSWORD }}"
        MACOS_PASSWORD: "${{ secrets.MACOS_PASSWORD }}"
        GOPROXY: "${{ inputs.GOPROXY }}"
        
    # This step captures the git commit hash from the deploy action for job output
    - name: Set job output
      id: set_output
      run: |
        echo "git_commit_hash=${{ steps.deploy.outputs.git_commit_hash }}" >> $GITHUB_OUTPUT
        echo "git_commit_hash_full=${{ steps.deploy.outputs.git_commit_hash_full }}" >> $GITHUB_OUTPUT
      shell: bash
  mainfest:
    name: Manifest
    needs: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: ./.github/actions/manifest
      with:
        platforms: ${{ inputs.platforms }}
        source_repository: ${{ inputs.source_repository }}
        source_ref: ${{ inputs.source_ref }}
        target_tag: ${{ inputs.target_tag }}
        target_repository: ${{ inputs.target_repository }}
        harbor_registry: ${{ inputs.harbor_registry }}
        HARBOR_USERNAME: "${{ inputs.HARBOR_USERNAME }}"
        HARBOR_PASSWORD: "${{ secrets.HARBOR_PASSWORD }}"
        DOCKER_USERNAME: "${{ inputs.DOCKER_USERNAME }}"
        DOCKER_PASSWORD: "${{ secrets.DOCKER_PASSWORD }}"
        git_commit_hash: ${{ contains(inputs.target_repository, 'lodestar') && needs.deploy.outputs.git_commit_hash_full || needs.deploy.outputs.git_commit_hash }}
