name: Vet

on:  
  pull_request:
    branches:
      - master

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: schema validate
        uses: nrkno/yaml-schema-validator-github-action@v4
        with:
          schema: schema.yaml
          target: config.yaml
  duplicates:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: mikefarah/yq@v4.30.8
      - name: duplicate repository tag check
        run: |
          OUTPUT=$(yq 'group_by(.target.repository + ":" + .target.tag) | map(select(length>1))' config.yaml)
          if [ "$OUTPUT" != "[]" ]; then
            echo "Duplicate tag found in config.yaml"
            echo $OUTPUT
            exit 1
          fi
