name: Vet

on:
  pull_request:
    branches:
      - master

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install Python dependencies
        run: pip install PyYAML
      - name: Generate config.yaml
        run: python3 generate_config.py
      - name: schema validate
        uses: nrkno/yaml-schema-validator-github-action@54e1fe495e281c451e1ece58808b6fd7710c30ed # v5.1.0
        with:
          schema: schema.yaml
          target: config.yaml
  duplicates:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install Python dependencies
        run: pip install PyYAML
      - name: Generate config.yaml
        run: python3 generate_config.py
      - uses: mikefarah/yq@0ecdce24e83f0fa127940334be98c86b07b0c488 # v4.48.1
      - name: duplicate repository tag check
        run: |
          OUTPUT=$(yq 'group_by(.target.repository + ":" + .target.tag) | map(select(length>1))' config.yaml)
          if [ "$OUTPUT" != "[]" ]; then
            echo "Duplicate tag found in config.yaml"
            echo $OUTPUT
            exit 1
          fi
  notify:
    name: Discord Notification
    runs-on: ubuntu-latest
    needs:
      - validate
      - duplicates
    if: failure()
    steps:
      - name: Notify
        uses: nobrayner/discord-webhook@1766a33bf571acdcc0678f00da4fb83aad01ebc7 # v1
        with:
          github-token: ${{ secrets.github_token }}
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
